<div class="about">
    <h2>
        First off, thanks for stopping by.<br/>
        I'm just happy you made it this far.
    </h2>
    <video class="gif" loop="" muted="" webkit-playsinline="" playsinline="" autoplay=""
           preload="auto">
        <source src="{{ site.baseurl }}assets/video/woooo.mp4" type="video/mp4">
    </video>

    <h2>
        Now here's what you're actually here for.
    </h2>
    <hr/>
    <h3>
        Languages
    </h3>
    <br/>
    <div class="logos">
        <img src="/{{ site.logos }}/html-5.svg"/>
        <img src="/{{ site.logos }}/css-3.svg"/>
        <img src="/{{ site.logos }}/javascript.svg"/>
        <img src="/{{ site.logos }}/es6.svg"/>
        <a href="https://www.typescriptlang.org/" target="_blank"><img src="/{{ site.logos }}/typescript-icon.svg"/></a>
        <a href="http://lesscss.org/" target="_blank"><img src="/{{ site.logos }}/less.svg"/></a>
        <a href="https://sass-lang.com/" target="_blank"><img src="/{{ site.logos }}/sass.svg"/></a>
    </div>
    <hr/>
    <h3>
        Frameworks / Libraries
    </h3>
    <br/>
    <div class="logos">
        <a href="https://angular.io/" target="_blank"><img src="/{{ site.logos }}/angular-icon.svg"/></a>
        <a href="https://reactjs.org/" target="_blank"><img src="/{{ site.logos }}/react.svg"/></a>
        <a href="https://redux.js.org/" target="_blank"><img src="/{{ site.logos }}/redux.svg"/></a>
        <a href="https://getbootstrap.com/" target="_blank"><img src="/{{ site.logos }}/bootstrap.svg"/></a>
        <a href="https://d3js.org/" target="_blank"><img src="/{{ site.logos }}/d3.svg"/></a>
        <a href="https://lodash.com/" target="_blank"><img src="/{{ site.logos }}/lodash.svg"/></a>
        <a href="https://jquery.com/" target="_blank"><img src="/{{ site.logos }}/jquery.svg"/></a>
        <a href="https://momentjs.com/" target="_blank"><img src="/{{ site.logos }}/momentjs.svg"/></a>
    </div>
    <hr/>
    <h3>
        Back-End Integrations
    </h3>
    <br/>
    <div class="logos">
        <a href="https://java.com/" target="_blank"><img src="/{{ site.logos }}/java.svg"/></a>
        <a href="http://www.php.net/" target="_blank"><img src="/{{ site.logos }}/php.svg"/></a>
        <a href="https://laravel.com/" target="_blank"><img src="/{{ site.logos }}/laravel.svg"/></a>
        <a href="https://wordpress.com/" target="_blank"><img src="/{{ site.logos }}/wordpress-icon.svg"/></a>
        <a href="https://www.microsoft.com/net/" target="_blank"><img src="/{{ site.logos }}/dotnet.svg"/></a>
        <a href="https://www.ruby-lang.org/en/" target="_blank"><img src="/{{ site.logos }}/ruby.svg"/></a>
        <a href="http://rubyonrails.org/" target="_blank"><img src="/{{ site.logos }}/rails.svg"/></a>
        <a href="https://nodejs.org/" target="_blank"><img src="/{{ site.logos }}/nodejs.svg"/></a>
        <a href="https://expressjs.com/" target="_blank"><img src="/{{ site.logos }}/express.svg"/></a>
    </div>
    <hr/>
    <h3>
        Browser Compatibility
    </h3>
    <br/>
    <div class="logos">
        <a href="https://www.google.com/chrome/" target="_blank"><img src="/{{ site.logos }}/chrome.svg"/></a>
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="/{{ site.logos }}/firefox.svg"/></a>
        <a href="https://www.apple.com/safari/" target="_blank"><img src="/{{ site.logos }}/safari.svg"/></a>
        <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx" target="_blank"><img
                src="/{{ site.logos }}/internetexplorer.svg"/></a>
        <a href="https://www.microsoft.com/en-us/windows/microsoft-edge" target="_blank"><img
                src="/{{ site.logos }}/microsoft-edge.svg"/></a>
        <a href="https://www.opera.com/" target="_blank"><img src="/{{ site.logos }}/opera.svg"/></a>
        <a href="https://www.apple.com/ios/" target="_blank"><img src="/{{ site.logos }}/ios.svg"/></a>
        <a href="https://www.android.com/" target="_blank"><img src="/{{ site.logos }}/android-icon.svg"/></a>
    </div>
    <hr/>
    <h3>
        Tool Belt
    </h3>
    <br/>
    <div class="logos">
        <a href="https://webpack.js.org/" target="_blank"><img src="/{{ site.logos }}/webpack.svg"/></a>
        <a href="https://babeljs.io/" target="_blank"><img src="/{{ site.logos }}/babel.svg"/></a>
        <a href="https://gulpjs.com/" target="_blank"><img src="/{{ site.logos }}/gulp.svg"/></a>
        <a href="https://git-scm.com/" target="_blank"><img src="/{{ site.logos }}/git-icon.svg"/></a>
        <a href="http://chaijs.com/" target="_blank"><img src="/{{ site.logos }}/chai.svg"/></a>
        <a href="https://jasmine.github.io/" target="_blank"><img src="/{{ site.logos }}/jasmine.svg"/></a>
        <a href="https://karma-runner.github.io/2.0/index.html" target="_blank"><img src="/{{ site.logos }}/karma.svg"/></a>
        <a href="https://facebook.github.io/jest/" target="_blank"><img src="/{{ site.logos }}/jest.svg"/></a>
        <a href="https://www.seleniumhq.org/" target="_blank"><img src="/{{ site.logos }}/selenium.svg"/></a>
        <a href="https://travis-ci.org/" target="_blank"><img src="/{{ site.logos }}/travis-ci.svg"/></a>
        <a href="https://yarnpkg.com/" target="_blank"><img src="/{{ site.logos }}/yarn.svg"/></a>
        <a href="https://www.npmjs.com/" target="_blank"><img src="/{{ site.logos }}/npm.svg"/></a>
        <a href="https://www.getpostman.com/" target="_blank"><img src="/{{ site.logos }}/postman.svg"/></a>
        <a href="https://gradle.org/" target="_blank"><img src="/{{ site.logos }}/gradle.svg"/></a>
        <a href="https://www.sublimetext.com/" target="_blank"><img src="/{{ site.logos }}/sublime.svg"/></a>
        <a href="https://www.jetbrains.com/webstorm/" target="_blank"><img src="/{{ site.logos }}/webstorm.svg"/></a>
        <a href="https://www.jetbrains.com/idea/" target="_blank"><img src="/{{ site.logos }}/intellij-idea.svg"/></a>
        <a href="https://ide.atom.io/" target="_blank"><img src="/{{ site.logos }}/atom.svg"/></a>
        <a href="https://www.sourcetreeapp.com/" target="_blank"><img src="/{{ site.logos }}/sourcetree.svg"/></a>
        <a href="https://code.visualstudio.com/" target="_blank"><img
                src="/{{ site.logos }}/visual-studio-code.svg"/></a>
        <a href="https://www.sketchapp.com/" target="_blank"><img src="/{{ site.logos }}/sketch.svg"/></a>
        <a href="http://www.pixelmator.com/" target="_blank"><img src="/{{ site.logos }}/pixelmator.png"/></a>
        <a href="https://www.adobe.com/products/photoshop.html" target="_blank"><img
                src="/{{ site.logos }}/photoshop.svg"/></a>
        <a href="https://www.adobe.com/products/illustrator.html" target="_blank"><img
                src="/{{ site.logos }}/illustrator.svg"/></a>
        <a href="https://www.apple.com/macos/" target="_blank"><img src="/{{ site.logos }}/apple.svg"/></a>
        <a href="https://www.ubuntu.com/" target="_blank"><img src="/{{ site.logos }}/ubuntu.svg"/></a>
    </div>
    <hr/>
    <h3>
        Services
    </h3>
    <br/>
    <div class="logos">
        <a href="https://github.com/" target="_blank"><img src="/{{ site.logos }}/github-icon.svg"/></a>
        <a href="https://about.gitlab.com/" target="_blank"><img src="/{{ site.logos }}/gitlab.svg"/></a>
        <a href="https://bitbucket.org/" target="_blank"><img src="/{{ site.logos }}/bitbucket.svg"/></a>
        <a href="https://www.atlassian.com/software/jira" target="_blank"><img src="/{{ site.logos }}/jira.svg"/></a>
        <a href="https://trello.com/" target="_blank"><img src="/{{ site.logos }}/trello.svg"/></a>
        <a href="https://www.browserstack.com/" target="_blank"><img src="/{{ site.logos }}/browserstack.svg"/></a>
        <a href="https://litmus.com/" target="_blank"><img src="/{{ site.logos }}/litmus.svg"/></a>
        <a href="https://stripe.com/" target="_blank"><img src="/{{ site.logos }}/stripe.svg"/></a>
        <a href="https://mailchimp.com/" target="_blank"><img src="/{{ site.logos }}/mailchimp-freddie.svg"/></a>
        <a href="https://www.mandrill.com/" target="_blank"><img src="/{{ site.logos }}/mandrill.svg"/></a>
        <a href="https://analytics.google.com/" target="_blank"><img src="/{{ site.logos }}/g-an.svg"/></a>
        <a href="https://adwords.google.com/" target="_blank"><img src="/{{ site.logos }}/g-aw.svg"/></a>
        <a href="https://www.kissmetrics.com/" target="_blank"><img src="/{{ site.logos }}/kissmetrics.svg"/></a>
        <a href="https://heapanalytics.com/" target="_blank"><img src="/{{ site.logos }}/heap.svg"/></a>
        <a href="https://segment.com/" target="_blank"><img src="/{{ site.logos }}/segment.svg"/></a>
        <a href="https://optimizely.com/" target="_blank"><img src="/{{ site.logos }}/optimizely.svg"/></a>
        <a href="https://www.intercom.com/" target="_blank"><img src="/{{ site.logos }}/intercom.svg"/></a>
        <a href="https://slack.com/" target="_blank"><img src="/{{ site.logos }}/slack.svg"/></a>
        <a href="https://www.twilio.com/" target="_blank"><img src="/{{ site.logos }}/twilio.svg"/></a>
    </div>
    <hr/>
    <h3>
        Rants / Ramblings / Blog Posts
    </h3>
    <br/>
    <div class="logos">
        <a href="https://twitter.com/MattPetitt" target="_blank"><img src="/{{ site.logos }}/twitter.svg"/></a>
        <a href="https://medium.com/@mattpetitt" target="_blank"><img src="/{{ site.logos }}/medium.svg"/></a>
        <a href="https://stackoverflow.com/users/9311871/mattpetitt" target="_blank"><img
                src="/{{ site.logos }}/stackoverflow.svg"/></a>
        <a href="https://www.reddit.com/user/MattPetitt/" target="_blank"><img src="/{{ site.logos }}/reddit.svg"/></a>
        <a href="https://news.ycombinator.com/user?id=MPetitt" target="_blank"><img src="/{{ site.logos }}/yc.svg"/></a>
    </div>
</div>